@import "./variables.scss";

@mixin anim-h--scale($scale: 1.1, $duration: 0.2s) {
    cursor: pointer;
    user-select: none;
    transition: transform $duration;
    &:hover {
        transform: scale($scale);
        transition: transform $duration;
    }
}

@mixin anim-h--opacity($hiddenOpacity: 0.5, $duration: 0.2s, $showOpacity: 1) {
    cursor: pointer;
    user-select: none;
    opacity: $hiddenOpacity;
    transition: opacity $duration;
    &:hover {
        opacity: $showOpacity;
        transition: opacity $duration;
    }
}

@mixin box-shadow-glow($color: $dark, $duration: 1s) {
    animation-duration: $duration;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    @keyframes glow {
        from {
            box-shadow: 0 0 2rem 1rem rgba($color, 0.2);
        }
        to {
            box-shadow: 0 0 2.5rem 1.25rem rgba($color, 0.3);
        }
    }
}

@mixin text-shadow-glow($color: $dark, $duration: 1s, $size: 5rem) {
    animation-duration: $duration;
    animation-name: text-glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    @keyframes text-glow {
        from {
            text-shadow: 0 0 $size rgba($color, 1);
        }
        to {
            text-shadow: 0 0 calc($size * 1.25) rgba($color, 1);
        }
    }
}