@mixin anim-h--scale($scale: 1.1, $duration: 0.2s) {
    cursor: pointer;
    user-select: none;
    transition: transform $duration;
    &:hover {
        transform: scale($scale);
        transition: transform $duration;
    }
}

@mixin anim-h--opacity($hiddenOpacity: 0.5, $duration: 0.2s, $showOpacity: 1) {
    cursor: pointer;
    user-select: none;
    opacity: $hiddenOpacity;
    transition: opacity $duration;
    &:hover {
        opacity: $showOpacity;
        transition: opacity $duration;
    }
}